// .outputArea ul span {
//     margin: 0 !important;
// }

.MuiListItemText-root {
    margin-left: 1rem;
}

.namePri {
    margin-top: 2px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.nameSpan {
    margin: 0 1rem;
    display: inline-block;
}

.prioritySpan {
    display: inline-block;
    background-color: rgba(63, 81, 181, .7);
    color: #fff;
    padding: 0px 5px;
    border-radius: 2px;
    font-size: .8rem;
}
