.App {
  text-align: center;
  /* position: relative; */
}

.modalButton {
    position: absolute;
    /* top: 50%; */
    bottom: 20px;
    right: 20px;
    background-color: skyblue;
    border-radius: 50%;
    opacity: 80%;
    /* transform: translateY(-50%); */
}
